@{
    ViewData["Title"] = "Teste";
}
<h1>@ViewData["Title"]</h1>

<p>teste<p>

    <a asp-action="Teste1">
       teste1
    </a>

    <br />
    <br />

    <a asp-action="RedirectToInfo">
        Redirect To Info
    </a>

    <br />
    <br />

    <a asp-action="Index" asp-controller="Home">
        Vai para home
    </a>

    <br />
    <br />
