html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Estilização geral do breadcrumb */
.breadcrumb {
    display: flex; /* Usa flexbox para alinhamento flexível */
    align-items: center; /* Centraliza os itens verticalmente */
    list-style: none; /* Remove estilos de lista padrão */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    background-color: transparent; /* Define a cor de fundo (ajustável) */
    font-size: 15px; /* Tamanho de fonte padrão */
    font-weight: bold;
}

    .breadcrumb li {
        display: flex; /* Cada item da lista também é um flex container */
        align-items: center; /* Centraliza o conteúdo de cada item verticalmente */
    }

    .breadcrumb a {
        color: #0275d8; /* Cor do link. Substitua conforme necessário */
        text-decoration: none; /* Remove o sublinhado dos links */
        display: flex; /* Garante que o texto e o ícone estejam alinhados */
        align-items: center; /* Alinha ícones e texto verticalmente */
    }

        .breadcrumb a:hover {
            text-decoration: underline; /* Sublinha ao passar o mouse */
        }

    .breadcrumb .separator {
        color: red; /* Cor do separador, ajuste conforme necessário */
        font-size: 1rem; /* Tamanho de fonte para o separador */
    }

    .breadcrumb i {
        margin-right: 10px; /* Espaçamento entre o ícone e o texto */
        font-size: 1.25rem; /* Tamanho do ícone, ajustável conforme necessário */
    }


.menuAtivo {
    background-color: white;
    border-radius: 10px;
}

.swal2-title {
    background-color: yellow;
    display: inline-block;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-align: left; /* Alinhar o texto à esquerda */
    width: 100%; /* Certificar que ocupa toda a largura */
}

.swal2-html-container {
    text-align: left !important; /* Alinhar o texto à esquerda */
}




.file-upload-wrapper {
    position: relative;
    display: inline-block;
}

.file-upload-input {
    display: none; /* Oculta o input padrão */
}

.file-upload-label {
    display: inline-block;
    cursor: pointer;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do ícone */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .file-upload-label:hover {
        background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    }

#file-name {
    margin-left: 10px;
    font-family: Arial, sans-serif;
    vertical-align: middle;
}
